<!DOCTYPE html>
<!-- THIS IS WHERE TEACHERS CAN EDIT THEIR OWN PROFILE -->
<html>
  <head>
    <title>TEACHER</title>
  </head>

  <body>
    <!-- form to input information -->
    <form action="/view_teacherprofile" method="POST">
        Name: 
        (Prefix)
        <!-- teacher selects the prefix they use -->
        <select list="prefixes" name="prefixes">
            <option value="None">None</option>
            <option value="Mr.">Mr.</option>
            <option value="Ms.">Ms.</option>
            <option value="Mrs.">Mrs.</option>
            <option value="Mx.">Mx.</option>
            <option value="Dr.">Dr.</option>
        </select>
        <!-- teacher inputs their name -->
        <input type="text" id="Name" name="name">
        <br>
        <!-- teacher inputs their pronouns -->
        Pronouns: <input type="text" name="Pronouns">
        <br>
        <!-- this is the teacher's stuy email that will be auto-filled -->
        Email: <input type ="text" value="{{googstuy}}" name="stuyEmail">
        <br>
        <!-- if a teacher prefers to be contacted via another email, they can put that email there -->
        (Other Preferred) Email(s): <input type="text" name="otherEmail">
        <br>

        <!-- teachers can upload files like syllabi -->
        Important Files (i.e. syllabi):
        <br>
        <input type="file" name="filename" multiple>


        <!-- this is the table with the teachers' schedule; they input what classes they teach, when, and free periods -->
        <table>
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Class Taught (If Any)</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        <input type="text" name="class1">
                    </td>
                    <td>
                        <select name="status">
                            <option>Never free (teaching)</option>
                            <option>Never free (working/lunch/etc)</option>
                            <option>Free for walk-ins</option>
                            <option>Free -- appointment only</option>
                            <option>Teaching, but free both before and after during passing</option>
                            <option>Teaching, but free only before this period during passing</option>
                            <option>Teaching, but free only after this period during passing</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        <input type="text" name="class2">
                    </td>
                    <td>
                        <select name="status">
                            <option>Never free (teaching)</option>
                            <option>Never free (working/lunch/etc)</option>
                            <option>Free for walk-ins</option>
                            <option>Free -- appointment only</option>
                            <option>Teaching, but free both before and after during passing</option>
                            <option>Teaching, but free only before this period during passing</option>
                            <option>Teaching, but free only after this period during passing</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        <input type="text" name="class3">
                    </td>
                    <td>
                        <select name="status">
                            <option>Never free (teaching)</option>
                            <option>Never free (working/lunch/etc)</option>
                            <option>Free for walk-ins</option>
                            <option>Free -- appointment only</option>
                            <option>Teaching, but free both before and after during passing</option>
                            <option>Teaching, but free only before this period during passing</option>
                            <option>Teaching, but free only after this period during passing</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        4
                    </td>
                    <td>
                        <input type="text" name="class4">
                    </td>
                    <td>
                        <select name="status">
                            <option>Never free (teaching)</option>
                            <option>Never free (working/lunch/etc)</option>
                            <option>Free for walk-ins</option>
                            <option>Free -- appointment only</option>
                            <option>Teaching, but free both before and after during passing</option>
                            <option>Teaching, but free only before this period during passing</option>
                            <option>Teaching, but free only after this period during passing</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        5
                    </td>
                    <td>
                        <input type="text" name="class5">
                    </td>
                    <td>
                        <select name="status">
                            <option>Never free (teaching)</option>
                            <option>Never free (working/lunch/etc)</option>
                            <option>Free for walk-ins</option>
                            <option>Free -- appointment only</option>
                            <option>Teaching, but free both before and after during passing</option>
                            <option>Teaching, but free only before this period during passing</option>
                            <option>Teaching, but free only after this period during passing</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        6
                    </td>
                    <td>
                        <input type="text" name="class6">
                    </td>
                    <td>
                        <select name="status">
                            <option>Never free (teaching)</option>
                            <option>Never free (working/lunch/etc)</option>
                            <option>Free for walk-ins</option>
                            <option>Free -- appointment only</option>
                            <option>Teaching, but free both before and after during passing</option>
                            <option>Teaching, but free only before this period during passing</option>
                            <option>Teaching, but free only after this period during passing</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        7
                    </td>
                    <td>
                        <input type="text" name="class7">
                    </td>
                    <td>
                        <select name="status">
                            <option>Never free (teaching)</option>
                            <option>Never free (working/lunch/etc)</option>
                            <option>Free for walk-ins</option>
                            <option>Free -- appointment only</option>
                            <option>Teaching, but free both before and after during passing</option>
                            <option>Teaching, but free only before this period during passing</option>
                            <option>Teaching, but free only after this period during passing</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        8
                    </td>
                    <td>
                        <input type="text" name="class8">
                    </td>
                    <td>
                        <select name="status">
                            <option>Never free (teaching)</option>
                            <option>Never free (working/lunch/etc)</option>
                            <option>Free for walk-ins</option>
                            <option>Free -- appointment only</option>
                            <option>Teaching, but free both before and after during passing</option>
                            <option>Teaching, but free only before this period during passing</option>
                            <option>Teaching, but free only after this period during passing</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        9
                    </td>
                    <td>
                        <input type="text" name="class9">
                    </td>
                    <td>
                        <select name="status">
                            <option>Never free (teaching)</option>
                            <option>Never free (working/lunch/etc)</option>
                            <option>Free for walk-ins</option>
                            <option>Free -- appointment only</option>
                            <option>Teaching, but free both before and after during passing</option>
                            <option>Teaching, but free only before this period during passing</option>
                            <option>Teaching, but free only after this period during passing</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        10
                    </td>
                    <td>
                        <input type="text" name="class10">
                    </td>
                    <td>
                        <select name="status">
                            <option>Never free (teaching)</option>
                            <option>Never free (working/lunch/etc)</option>
                            <option>Free for walk-ins</option>
                            <option>Free -- appointment only</option>
                            <option>Teaching, but free both before and after during passing</option>
                            <option>Teaching, but free only before this period during passing</option>
                            <option>Teaching, but free only after this period during passing</option>
                        </select>
                    </td>
                </tr>


            </tbody>
        </table>
        <input type="submit" name="Save" value="Save"></input>
    </form>

  </body>

</html>