{% extends "base.html" %}
{% block title %}Student Profile{% endblock %}

{% block content %}
<link href="{{url_for('static',filename='css/star.css')}}" rel="stylesheet">
<div class="container-xxl my-4 bd-layout">
  <h1>Starred Teachers</h1>
  <table class="table">
    <tr>
      <th>Remove</th>
      <th>Teacher</th>
    </tr>
    {% for hex, name in starred_teachers %}
    <tr>
      <td>
        <form action="{{ url_for('starred_teachers') }}" method="POST">
          <button type="submit" class="btn btn-danger">X</button>
          <input type="hidden" name="remove_star" value="{{ hex }}">
        </form>
      </td>
      <td style="padding-top: 15px;"><a href="{{ url_for('view_teacher', hex=hex) }}">{{ name }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
