{% extends "base.html" %}

<!-- THIS IS WHERE TEACHERS CAN SEE THEIR OWN PROFILE -->
{% block title %}View Your Profile{% endblock %}

{% block content %}
<div class="container-xxl my-4 bd-layout">
  <h1>Teacher Profile</h1>
  {% if is_teacher %}
  <p><a href="{{ url_for('edit_teacherprofile') }}">Edit Profile</a></p>
  {% endif %}
  {% if prefix == "None" %}
    <p><b>Name:</b> {{ name }}</p>
  {% else %}
    <p><b>Name:</b> {{ prefix }} {{ name }}</p>
  {% endif %}
  <p><b>Pronouns:</b> {{ pronouns }}</p>
  <p><b>Email(s):</b> {{ email }}</p>
  <p>
    <b>Important Files:</b>
    <div class="list-group list-group-flush">
      {% for id, filename in files %}
      <a href="{{url_for('download_file', file_id=id)}}" class="list-group-item list-group-item-action text-primary">{{ filename }}</a>
      {% endfor %}
    </div>
  </p>

  <div class="my-4">
    <table class="table">
      <thead>
        <tr>
          <th>Period</th>
          <th>Room Number</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(1, 11) %}
        <tr>
          <td>{{ i }}</td>
          <td>{{ schedule[i - 1][0] }}</td>
          <td>{{ schedule[i - 1][1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
