{% extends "base.html" %}

<!-- THIS IS WHERE TEACHERS CAN SEE THEIR OWN PROFILE -->
{% block title %}View Your Profile{% endblock %}

{% block content %}
<div class="container-xxl my-4 bd-layout">
  <h1>View Your Profile</h1>
  <p>Name: {{prefix}} {{name}}</p>
  <p>Pronouns: {{pronouns}}</p>
  <p>(Preferred) Email(s): {{email}}</p>
  <p>Important Files (i.e. syllabi):</p>

  <table class="table">
    <thead>
      <tr>
        <th>Period</th>
        <th>Class Taught (If Any)</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(1, 11) %}
      <tr>
        <td>{{ i }}</td>
        <td>{{ class }}</td>
        <td>{{ status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

<a href="/setup_teacher">Edit Your Profile</a>